# files
*.dll
*.exe
*.pdb
*.c.txt
*.cmake
Makefile
CMakeCache.txt

bin/*.exe
!bin/*.dll

# folders
.vscode/
build/
share/
CMakeFiles/
licenses/
cmake/
pkgconfig/

# Beauvoir in-dev folders and files
res/
dev/